.bytemd {
  min-height: 640px;
  border-radius: 6px;
  border-color: #d9d9d9 !important;

  .bytemd-toolbar {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .bytemd-toolbar-right {
    display: none;
  }

  .bytemd-status-right {
    display: none;
  }
}

.markdown-body {
  font-size: 14px;
}
